<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
	<head>
		<title>The current time</title>
	</head>
	<body>
		<h1>My helpful timestamp site</h1>
		<p>It is now {{ current_date }}.</p>
		<hr>
		<p>Thanks for visiting my site.</p>
	</body>
</html>