<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
	<title>the future time</title>
	</head>
<body>
	<h1>My helpful timestamp site</h1>
	<p>In {{ hour_offset }} hour(s), it will be {{ next_time }}.</p>
	<hr>
	<p>Thanks for visiting my site.</p>

</body>

</html>
